订单页面整体容器
.order-page {
    background-color: #f5f5f5;
    padding-bottom: 100px; /* 为底部支付区域预留空间 */
}

/* 商品详情部分 */
.order-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

/* 商品图片 */
.order-image-trade {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* 商品信息区域 */
.order-info {
    margin-top: 20px;
    text-align: center;
}

.order-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.order-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.order-price {
    font-size: 18px;
    color: #ff6a00;
    font-weight: bold;
}

.order-stock {
    font-size: 16px;
    margin-top: 10px;
}

.order-stock.in-stock {
    color: #28a745; /* 绿色 */
}

.order-stock.out-of-stock {
    color: #dc3545; /* 红色 */
}

/* 购买数量的步进器 */
.rv-stepper {
    margin-top: 20px;
}

/* 立即购买按钮 */
.order-button {
    margin-top: 20px;
}


.card-body {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card-footer .rv-icon {
    font-size: 2em;
    margin-right: 10px;
}
    
.card-footer .payment-button {
    background: linear-gradient(to right, #ff6034, #ee0a24);
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
}
